
.DDD{
  background-color: rgb(255, 255, 255);
}

.pageBody{
  background-color: rgba(185, 187, 188, 0.728);
  display: flex;
  height: calc(100vh - 70px) !important;
}

.abb2{
  margin-top: 15px;
  margin-left: 20px;
}

.abb3{
  display: flex;
}

.greenText{
  color: green;
}

.redText{
  color: red;
}

.margin10px{
  margin-right: 10px;
}