.Div1{
  background-color: rgb(255, 255, 255);
}

.Div2{
  background-color: rgba(221, 222, 223, 0.728);
  display: flex;
  height: calc(100vh - 70px) !important;
}

.Div3{
  margin-top: 15px;
  margin-left: 20px;
}

.Div4{
  display: flex;
}

.greenText{
  color: green;
}

.redText{
  color: red;
}

.margin10px{
  margin-right: 72px;
}

.margin20px{
  margin-right: 70px;
}