/*         Imported in Orderform.js and Navbar.js             */

.margin{
  margin-top: 15px;
}

.red{
  background-color: rgb(241, 110, 110);
}
.blue{
  background-color: rgb(88, 154, 240);
}

.formBody{
  width: 450px;
}

.typograph{
  cursor: pointer;
}