.prc {
    width: 50px;
    align-content: center;
    justify-content: center;
    margin-left: 50px;
    text-align: center;
}

.dv2{
    margin: 5px 17px 10px 5px;
    height: calc(100vh - 90px) !important;
    width: 380px;
    overflow: auto;
    border-color: blue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px grey;
}

.dv3{
    height: calc(100vh - 90px) !important;
    overflow: auto;
    border-radius: 20px;
}

.item{
    margin-bottom: 7px !important;
}